---
BasedOnStyle: Google
AlignAfterOpenBracket: Align
AlignOperands: 'true'
AllowAllArgumentsOnNextLine: 'false'
AllowAllParametersOfDeclarationOnNextLine: 'false'
BreakInheritanceList: BeforeColon
ColumnLimit: '80'
CompactNamespaces: 'true'
IndentWidth: '8'
PointerAlignment: Right

...
